<?xml version="1.0" encoding="UTF-8"?>
    <suite name="Test Suite" parallel="None" thread-count="None">
    <listeners>
        <listener class-name="org.example.DemoWebShopTests.TestResultListener3.java"/>
    </listeners>
    
        <test name="Sample Test">
            <classes>
                <class name='org.example.DemoWebShopTests'>
                <methods>
                    <include name='Validate_Homepage_Title'/>
                    <include name='Test_Scroll_Functionality'/>
                    <include name='Test_Book_Link_From_Menu'/>
                    <include name='Test_Electronics_From_Side_Panel'/>
                </methods>
            </class>
        </classes>
        </test>
    </suite>
    