<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" parallel="None" thread-count="None">
    <test name="['Sample Test']">
        <classes>
            <class name='org.example'>
                <methods>
                    <include name='Validate_Homepage_Title'/>
                    <include name='Test_Scroll_Functionality'/>
                    <include name='Test_Search_Functionality_Of_Tricentis'/>
                    <include name='Test_Login_Button'/>
                    <include name='Login_With_Valid_Credentials'/>
                    <include name='Test_Electronics_From_Side_Panel'/>
                    <include name='Test_Wishlist_Functionality'/>
                    <include name='Test_Contact_Us_Form'/>
                    <include name='Test_Logout'/>
                    <include name='Test_Social_Media_Links'/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
